:root {
  --fluid-min-width: 450;
  --fluid-max-width: 1280;
  --fluid-min-size: 14;
  --fluid-max-size: 16;
  --fluid-min-ratio: 1.25;
  --fluid-max-ratio: 1.5;
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
}

@media screen and (min-width: 1280px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
  --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
  --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
  --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
  --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
  --step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
  --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
  --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
  --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
  --step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
}

.font-base,
p,
ul,
ol, .font-medium, nav.menu, header#masthead h3, .social-icons, #case-study h3, html,
body {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-weight: 300;
  color: #000;
}

.font-base strong, p strong, ul strong, ol strong, .font-medium strong, nav.menu strong, header#masthead h3 strong, .social-icons strong, #case-study h3 strong, html strong, body strong {
  font-weight: 500;
}

.font-large, .font-xl, a.case-study h3, #case-study h1, .font-xxl, header#masthead h1 {
  font-family: clarendon-urw, serif;
  font-weight: 700;
  color: #000;
}

.font-base,
p,
ul,
ol {
  font-size: var(--step-0);
  line-height: 1.5rem;
  margin: 0 0 1em;
}

.font-medium, nav.menu, header#masthead h3, .social-icons, #case-study h3 {
  font-size: var(--step-1);
  line-height: 1.5em;
  margin: 0 0 1.5em;
}

.font-large {
  font-size: var(--step-2);
  line-height: 1em;
  margin: 0;
}

.font-xl, a.case-study h3, #case-study h1 {
  font-size: var(--step-3);
  line-height: 1em;
  margin: 0;
  text-transform: lowercase;
}

.font-xxl, header#masthead h1 {
  font-weight: 800;
  font-size: var(--step-5);
  line-height: 1em;
  margin: 0;
  text-transform: lowercase;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
  }
}

a {
  color: #0a3d62;
  text-decoration: none;
  font-weight: 500;
}

a:hover, a:focus {
  color: #faa552;
}

a:active, a.active {
  color: #0a3d62;
}

nav.menu {
  list-style: none;
  margin: 0;
}

nav.menu li {
  display: inline;
  padding: 0 2rem;
}

nav.menu a {
  color: #000;
}

nav.menu a:hover, nav.menu a:focus {
  color: #faa552;
}

nav.menu a:active, nav.menu a.active {
  color: #0a3d62;
}

nav.menu a.active {
  cursor: default;
}

.row {
  margin: 2em auto;
}

img {
  max-width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

a.case-study h3, #case-study h1 {
  line-height: 0.75em;
  display: inline-block;
  text-transform: lowercase;
  border-bottom: 0.5rem solid #faa552;
  padding: 0 2rem 0 1rem;
  position: relative;
  z-index: 999;
}

html,
body {
  font-size: var(--step-0);
}

header {
  max-width: 80em;
  margin: 2em auto;
}

header .menu {
  text-align: right;
}

header #logo {
  color: #faa552;
}

header#masthead {
  max-width: 100%;
  margin: 4em auto;
}

header#masthead .row {
  margin: 0 auto;
}

header#masthead .col-xs-9 {
  padding-left: 0;
}

header#masthead h1 {
  line-height: 0.75em;
  display: inline-block;
  border-bottom: 0.5rem solid #faa552;
  margin: 0 0 2rem 0;
  padding: 0 4rem;
}

header#masthead h3 {
  display: inline-block;
  padding: 0 2rem;
}

header#masthead .box {
  padding-left: 2rem;
}

.social-icons {
  text-align: center;
  margin: 0;
}

.social-icons a {
  display: inline-block;
  padding: 0 1rem;
}

#portfolio {
  max-width: 80em;
  margin: 2em auto 8rem;
}

a.case-study {
  margin-bottom: 4rem;
}

a.case-study picture {
  display: block;
  width: 100%;
  opacity: 0.75;
}

a.case-study:hover picture, a.case-study:focus picture, a.case-study:active picture {
  opacity: 1;
  -webkit-box-shadow: 2px 2px 8px rgba(68, 67, 70, 0.25);
          box-shadow: 2px 2px 8px rgba(68, 67, 70, 0.25);
}

#about {
  background: #e5e5e5;
  padding: 4rem 0 2rem;
}

#about .social-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

#about .social-icons a {
  padding: 0;
}

#case-study {
  margin: 4rem auto 1rem;
}

#case-study .row {
  max-width: 80em;
  margin: 0 auto 4rem;
}

#case-study h1 {
  margin-bottom: -0.5rem;
}

#case-study #details {
  background: #e5e5e5;
  padding: 4rem 4rem 3rem;
}

#case-study h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

#case-study #conclusions {
  max-width: 100%;
  background: #e6f4f4;
}

#case-study #conclusions .row {
  margin: 0 auto;
  padding: 4rem 0 3rem;
}

#case-study-bottom {
  max-width: 80em;
  margin: 0 auto;
}

#case-study-bottom .row {
  margin: 0 auto 2rem;
}

.row#tldr-2 {
  margin-top: 4rem;
}
/*# sourceMappingURL=jenne.css.map */