$black: #000;
$white: #fff;
$grey: #4d4d4d;
$grey-100: #d2d2d2;
$green: #11d97e;
$pink: #d9116b;

:root {
	--fluid-min-width: 450;
	--fluid-max-width: 1440;
	--fluid-min-size: 20;
	--fluid-max-size: 18;
	--fluid-min-ratio: 1.125;
	--fluid-max-ratio: 1.25;

	--fluid-screen: 100vw;
	--fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
}

@media screen and (min-width: 1440px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	--fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
	--fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));

	--fluid-min-scale-0: var(--fluid-min-ratio);
	--fluid-max-scale-0: var(--fluid-max-ratio);
	--fluid-min-size-0: (var(--fluid-min-size)) / 16;
	--fluid-max-size-0: (var(--fluid-max-size)) / 16;
	--step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));

	--fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
	--fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
	--fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
	--fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
	--step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));

	--fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
	--fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
	--fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
	--fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
	--step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));

	--fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
	--fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
	--fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
	--fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
	--step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));

	--fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
	--fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
	--fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
	--fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
	--step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));

	--fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
	--fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
	--fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
	--fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
	--step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));

	--fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
	--fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
	--fluid-min-size-6: (var(--fluid-min-size) * var(--fluid-min-scale-5)) / 16;
	--fluid-max-size-6: (var(--fluid-max-size) * var(--fluid-max-scale-5)) / 16;
	--step-6: calc(((var(--fluid-min-size-6) * 1rem) + (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)));

	--fluid-min-scale-7: var(--fluid-min-scale-6) * var(--fluid-min-ratio);
	--fluid-max-scale-7: var(--fluid-max-scale-6) * var(--fluid-max-ratio);
	--fluid-min-size-7: (var(--fluid-min-size) * var(--fluid-min-scale-6)) / 16;
	--fluid-max-size-7: (var(--fluid-max-size) * var(--fluid-max-scale-6)) / 16;
	--step-7: calc(((var(--fluid-min-size-7) * 1rem) + (var(--fluid-max-size-7) - var(--fluid-min-size-7)) * var(--fluid-bp)));

	--fluid-min-scale-8: var(--fluid-min-scale-7) * var(--fluid-min-ratio);
	--fluid-max-scale-8: var(--fluid-max-scale-7) * var(--fluid-max-ratio);
	--fluid-min-size-8: (var(--fluid-min-size) * var(--fluid-min-scale-7)) / 16;
	--fluid-max-size-8: (var(--fluid-max-size) * var(--fluid-max-scale-7)) / 16;
	--step-8: calc(((var(--fluid-min-size-8) * 1rem) + (var(--fluid-max-size-8) - var(--fluid-min-size-8)) * var(--fluid-bp)));
}

$serif: "Crimson Pro", serif;
$sans-serif: "Montserrat Alternates", sans-serif;

%serif-font {
	font-family: $serif;
	font-weight: 300;
	color: $grey;
	strong {
		font-weight: 600;
	}
}

%sans-serif-font {
	font-family: $sans-serif;
	font-weight: 800;
	color: $black;
}

.font-step-0,
p,
ul,
ol {
	@extend %serif-font;
	font-size: var(--step-0);
	line-height: 1.5em;
	margin: 0 0 1em;
}

ul {
	list-style: circle;
}

.font-step-1 {
	@extend %serif-font;
	font-size: var(--step-1);
	line-height: 1.25em;
	margin: 0 0 2rem;
}

.font-step-2 {
	@extend %serif-font;
	font-size: var(--step-2);
	line-height: 0.8em;
	margin: 0;
}

.font-step-3 {
	@extend %serif-font;
	font-size: var(--step-3);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-step-4 {
	@extend %sans-serif-font;
	font-size: var(--step-4);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-step-5 {
	@extend %sans-serif-font;
	font-size: var(--step-5);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-step-6 {
	@extend %sans-serif-font;
	font-size: var(--step-6);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-step-8 {
	@extend %sans-serif-font;
	font-size: var(--step-8);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

h1 {
	@extend .font-step-4;
	margin-bottom: 1rem;
}

// Animations

//	Defaults

a {
	color: $pink;
	text-decoration: none;
	font-weight: 600;
	&:hover,
	&:focus {
		color: $grey;
		border-bottom: 2px solid $grey;
	}
	&:active,
	&.active {
		color: $pink;
	}
}

a.button {
	display: inline-block;
	@extend .font-step-2;
	@extend %sans-serif-font;
	font-weight: 700;
	color: $white;
	text-align: center;
	background-color: $black;
	border: 2px solid $white;
	padding: 2rem 4rem;
	position: relative;
	&:hover,
	&:focus {
		color: $black;
		background: $white;
		border-color: $black;
	}
	&:active {
		color: $pink;
		background: $white;
		border-color: $black;
	}
	&::before,
	&::after {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		border: 2px solid $pink;
		position: absolute;
		z-index: -1;
	}
	&::before {
		border-color: $green;
		left: -0.5em;
		top: -0.5em;
	}
	&::after {
		right: -0.5em;
		bottom: -0.5em;
	}
	&:hover,
	&:focus,
	&:active {
	}
}

nav.menu {
	@extend .font-step-0;
	font-family: $sans-serif;
	list-style: none;
	margin: 0;
	text-align: right;
	li {
		padding: 1rem 0;
	}
	a {
		color: $grey;
		font-weight: 500;
		&:hover,
		&:focus {
			color: $pink;
			border-bottom: 1px solid $pink;
		}
		&:active,
		&.active {
			color: $pink;
		}
		&.active {
			cursor: default;
		}
	}
}

.row {
	margin: 8em auto;
}
img {
	max-width: 100%;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.threeD-type {
	position: relative;
	&:before,
	&:after {
		content: attr(title);
		position: absolute;
		color: $white;
		-webkit-text-fill-color: $white; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 0.02em;
		z-index: -1;
		white-space: nowrap;
	}
	&:before {
		left: -0.075em;
		top: -0.075em;
		-webkit-text-stroke-color: $green;
	}
	&:after {
		right: -0.075em;
		bottom: -0.075em;
		-webkit-text-stroke-color: $pink;
	}
}

.threeD-img {
	z-index: 1;
	position: relative;
	picture.img-grey {
		filter: grayscale(1);
	}
	picture.img-green,
	picture.img-pink {
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		padding: inherit;
	}
	picture.img-green {
		transform: translate(-1rem, -1rem);
	}

	picture.img-pink {
		transform: translate(1rem, 1rem);
	}
	&:hover,
	&:focus,
	&:active {
		picture.img-grey {
			filter: grayscale(0);
		}
		picture.img-green {
			transform: translate(0, 0);
		}

		picture.img-pink {
			transform: translate(0, 0);
		}
	}
}

%threeD-box {
	background: $white;
	padding: 4rem 4rem 3rem;
	border: 2px solid $grey;
	position: relative;
	&::before,
	&::after {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&::before {
		left: -1rem;
		top: -1rem;
		border: 2px solid $green;
	}
	&::after {
		right: -1rem;
		bottom: -1rem;
		border: 2px solid $pink;
	}
}

//  Template

html,
body {
	@extend %serif-font;
	font-size: 16px;
}

header {
	max-width: 80em;
	margin: 2em auto;
	position: relative;
	&#masthead {
		max-width: 100%;
		text-align: center;
		margin-top: 2rem;
		h1 {
			@extend .font-step-8;
			display: inline-block;
			position: relative;
		}
		h3 {
			@extend .font-step-3;
			margin: 1.5rem 0 0 3rem;
		}
	}
	#top-menu {
		position: fixed;
		top: 2rem;
		right: 2rem;
	}
	&#inside {
		max-width: 100%;
		margin-top: 2rem;
		h1 {
			@extend .font-step-6;
			display: inline-block;
			position: relative;
			margin-left: 2rem;
		}
	}
}

#portfolio {
	max-width: 80em;
	margin: 2em auto 8rem;
}

a.case-study {
	margin-bottom: 8rem;
	h3 {
		@extend .font-step-4;
		margin-left: -8.333%;
	}
	p.font-step-2 {
		margin: 1rem 0;
	}
	p.read-more {
		font-weight: 600;
	}
	section {
		position: relative;
		z-index: 5;
	}
	&:hover,
	&:focus {
		border-bottom: none;
		p.read-more {
			color: $pink;
		}
	}
}

.social-icons {
	@extend .font-step-2;
	text-align: center;
	margin: 0;
	a {
		display: inline-block;
		padding: 0 1rem;
		&:hover,
		&:focus,
		&:active {
			border-bottom: none;
			color: $green;
		}
	}
}

.jump-links {
	@extend .font-step-0;
	font-family: $sans-serif;
	text-align: center;
	margin: 0;
	text-transform: lowercase;
	a {
		display: inline-block;
		padding: 0 1rem;
		&:hover,
		&:focus,
		&:active {
			border-bottom: none;
			color: $green;
		}
	}
}

footer#contact {
	background: $black;
	padding: 5rem 0;
	margin: 8rem 0 0;
	position: relative;
	z-index: 1;
	.row {
		margin: 0 auto;
		max-width: 80em;
	}
}

#about {
	.row {
		max-width: 80em;
	}
	aside {
		@extend %threeD-box;
		padding: 1rem;
	}
}

#case-study {
	margin: 4rem auto 1rem;
	.row {
		max-width: 80em;
		margin: 0 auto 4rem;
	}
	#details,
	#conclusions .text-wrap {
		@extend %threeD-box;
	}
	h3 {
		@extend .font-step-1;
		font-family: $sans-serif;
		font-weight: 700;
		color: $black;
		text-transform: lowercase;
		margin-bottom: 1rem;
	}
	h4 {
		@extend .font-step-1;
		font-weight: 600;
		margin-bottom: 1rem;
	}
}

#case-study-bottom {
	max-width: 80em;
	margin: 0 auto;
	.row {
		margin: 0 auto 2rem;
	}
}

.row#tldr-2 {
	margin-top: 4rem;
}
