$black: #000;
$white: #fff;
$grey: #e5e5e5;
$orange: #faa552;
$blue: #0a3d62;
$blue-bg: #e6f4f4;

:root {
	--fluid-min-width: 450;
	--fluid-max-width: 1280;
	--fluid-min-size: 14;
	--fluid-max-size: 16;
	--fluid-min-ratio: 1.25;
	--fluid-max-ratio: 1.5;

	--fluid-screen: 100vw;
	--fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
}

@media screen and (min-width: 1280px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	--fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
	--fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));

	--fluid-min-scale-0: var(--fluid-min-ratio);
	--fluid-max-scale-0: var(--fluid-max-ratio);
	--fluid-min-size-0: (var(--fluid-min-size)) / 16;
	--fluid-max-size-0: (var(--fluid-max-size)) / 16;
	--step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));

	--fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
	--fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
	--fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
	--fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
	--step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));

	--fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
	--fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
	--fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
	--fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
	--step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));

	--fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
	--fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
	--fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
	--fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
	--step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));

	--fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
	--fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
	--fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
	--fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
	--step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));

	--fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
	--fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
	--fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
	--fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
	--step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
}

$tisa: ff-tisa-sans-web-pro, sans-serif;
$clarendon: clarendon-urw, serif;

%tisa-font {
	font-family: $tisa;
	font-weight: 300;
	color: $black;
	strong {
		font-weight: 500;
	}
}

%clarendon-font {
	font-family: $clarendon;
	font-weight: 700;
	color: $black;
}

.font-base,
p,
ul,
ol {
	@extend %tisa-font;
	font-size: var(--step-0);
	line-height: 1.5rem;
	margin: 0 0 1em;
}

ul {
	list-style: circle;
}

.font-medium {
	@extend %tisa-font;
	font-size: var(--step-1);
	line-height: 1.5em;
	margin: 0 0 1.5em;
}

.font-large {
	@extend %clarendon-font;
	font-size: var(--step-2);
	line-height: 1em;
	margin: 0;
}

.font-xl {
	@extend %clarendon-font;
	font-size: var(--step-3);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-xxl {
	@extend %clarendon-font;
	font-weight: 800;
	font-size: var(--step-5);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

// Animations

@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-0.5rem);
		transform: translateY(-0.5rem);
	}
}
@keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-0.25rem);
		transform: translateY(-0.25rem);
	}
}

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(0.25rem);
		transform: translateY(0.25rem);
	}
}
@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(0.25rem);
		transform: translateY(0.25rem);
	}
}

%slide-top {
	-webkit-animation: slide-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

%slide-bottom {
	-webkit-animation: slide-bottom 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-bottom 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

//	Defaults

a {
	color: $blue;
	text-decoration: none;
	font-weight: 500;
	&:hover,
	&:focus {
		color: $orange;
	}
	&:active,
	&.active {
		color: $blue;
	}
}

nav.menu {
	@extend .font-medium;
	list-style: none;
	margin: 0;
	li {
		display: inline;
		padding: 0 2rem;
	}
	a {
		color: $black;
		font-weight: 300;
		&:hover,
		&:focus {
			color: $orange;
		}
		&:active,
		&.active {
			color: $blue;
		}
		&.active {
			cursor: default;
		}
	}
}

.row {
	margin: 2em auto;
}
img {
	max-width: 100%;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

%headline {
	@extend .font-xl;
	line-height: 0.75em;
	display: inline-block;
	text-transform: lowercase;
	border-bottom: 0.5rem solid $orange;
	padding: 0 2rem 0 1rem;
	position: relative;
	z-index: 999;
}

//  Template

html,
body {
	@extend %tisa-font;
	font-size: var(--step-0);
}

header {
	max-width: 80em;
	margin: 2em auto;
	.menu {
		text-align: right;
	}
	#logo {
		color: $orange;
	}

	&#masthead {
		max-width: 100%;
		margin: 4em auto;
		.row {
			margin: 0 auto;
		}
		.col-xs-9 {
			padding-left: 0;
		}
		h1 {
			@extend .font-xxl;
			line-height: 0.75em;
			display: inline-block;
			border-bottom: 0.5rem solid $orange;
			margin: 0 0 2rem 0;
			padding: 0 4rem;
		}
		h3 {
			@extend .font-medium;
			display: inline-block;
			padding: 0 2rem;
		}
		.box {
			padding-left: 2rem;
		}
	}
}

.social-icons {
	@extend .font-medium;
	text-align: center;
	margin: 0;
	a {
		display: inline-block;
		padding: 0 1rem;
	}
}

#portfolio {
	max-width: 80em;
	margin: 2em auto 8rem;
}

h2#portfolio-title {
	margin-bottom: 2rem;
}

a.case-study {
	margin-bottom: 4rem;
	picture {
		display: block;
		width: 100%;
		opacity: 0.75;
	}
	h3 {
		@extend %headline;
	}
	&:hover,
	&:focus,
	&:active {
		picture {
			// @extend %slide-top;
			opacity: 1;
			box-shadow: 2px 2px 8px rgba($color: #444346, $alpha: 0.25);
		}
		h3 {
			// @extend %slide-bottom;
		}
	}
}

#about {
	background: $grey;
	padding: 0 0 2rem;
	.row {
		max-width: 80em;
	}
	.social-icons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5rem;
		a {
			padding: 0;
		}
	}
}

h2#about-me {
	margin: -0.875em auto 4rem;
}

#case-study {
	margin: 4rem auto 1rem;
	.row {
		max-width: 80em;
		margin: 0 auto 4rem;
	}
	h1 {
		@extend %headline;
		margin-bottom: -0.5rem;
	}
	#details {
		background: $grey;
		padding: 4rem 4rem 3rem;
	}
	h3 {
		@extend .font-medium;
		font-weight: 500;
		margin-bottom: 2rem;
	}
	h4 {
		@extend .font-base;
		font-weight: 500;
	}
	#conclusions {
		max-width: 100%;
		background: $blue-bg;
		.row {
			margin: 0 auto;
			padding: 4rem 0 3rem;
		}
	}
}

#case-study-bottom {
	max-width: 80em;
	margin: 0 auto;
	.row {
		margin: 0 auto 2rem;
	}
}

.row#tldr-2 {
	margin-top: 4rem;
}
