$black: #000;
$white: #fff;
$grey: #4d4d4d;
$grey-inverse: #e6e6e6;
$green: #01f9c6;
$purple: #5d21d0;

$purple-hover: #3b1584;
$green-hover: #b1ffef;

$sig-blue: #0059eb;
$sig-green: #4cec8c;
$sig-yellow: #f0ff45;
$sig-pink: #ffcee6;

$skittle-pink: #d64287;
$skittle-purple: #7724e2;

:root {
	--fluid-min-width: 450;
	--fluid-max-width: 1440;
	--fluid-min-size: 16;
	--fluid-max-size: 16;
	--fluid-min-ratio: 1.125;
	--fluid-max-ratio: 1.25;

	--fluid-screen: 100vw;
	--fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));

	--sat: env(safe-area-inset-top);
	--sar: env(safe-area-inset-right);
	--sab: env(safe-area-inset-bottom);
	--sal: env(safe-area-inset-left);
}

@media screen and (min-width: 1440px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	--fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
	--fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));

	--fluid-min-scale-0: var(--fluid-min-ratio);
	--fluid-max-scale-0: var(--fluid-max-ratio);
	--fluid-min-size-0: (var(--fluid-min-size)) / 16;
	--fluid-max-size-0: (var(--fluid-max-size)) / 16;
	--step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));

	--fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
	--fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
	--fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
	--fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
	--step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));

	--fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
	--fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
	--fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
	--fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
	--step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));

	--fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
	--fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
	--fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
	--fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
	--step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));

	--fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
	--fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
	--fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
	--fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
	--step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));

	--fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
	--fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
	--fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
	--fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
	--step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));

	--fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
	--fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
	--fluid-min-size-6: (var(--fluid-min-size) * var(--fluid-min-scale-5)) / 16;
	--fluid-max-size-6: (var(--fluid-max-size) * var(--fluid-max-scale-5)) / 16;
	--step-6: calc(((var(--fluid-min-size-6) * 1rem) + (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)));

	--fluid-min-scale-7: var(--fluid-min-scale-6) * var(--fluid-min-ratio);
	--fluid-max-scale-7: var(--fluid-max-scale-6) * var(--fluid-max-ratio);
	--fluid-min-size-7: (var(--fluid-min-size) * var(--fluid-min-scale-6)) / 16;
	--fluid-max-size-7: (var(--fluid-max-size) * var(--fluid-max-scale-6)) / 16;
	--step-7: calc(((var(--fluid-min-size-7) * 1rem) + (var(--fluid-max-size-7) - var(--fluid-min-size-7)) * var(--fluid-bp)));

	--fluid-min-scale-8: var(--fluid-min-scale-7) * var(--fluid-min-ratio);
	--fluid-max-scale-8: var(--fluid-max-scale-7) * var(--fluid-max-ratio);
	--fluid-min-size-8: (var(--fluid-min-size) * var(--fluid-min-scale-7)) / 16;
	--fluid-max-size-8: (var(--fluid-max-size) * var(--fluid-max-scale-7)) / 16;
	--step-8: calc(((var(--fluid-min-size-8) * 1rem) + (var(--fluid-max-size-8) - var(--fluid-min-size-8)) * var(--fluid-bp)));
}

@font-face {
	font-family: "Satoshi";
	src: url("../fonts/Satoshi-Variable.woff2") format("woff2"), url("../fonts/Satoshi-Variable.woff") format("woff"), url("../fonts/Satoshi-Variable.ttf") format("truetype");
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"), url("../fonts/Satoshi-VariableItalic.woff") format("woff"), url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
	font-weight: 300 900;
	font-display: swap;
	font-style: italic;
}

$base: "Satoshi", sans-serif;
$sans-serif: "Montserrat Alternates", sans-serif;

%base-font {
	font-family: $base;
	font-weight: 400;
	color: $grey;
	strong {
		font-weight: 500;
	}
}

%header-font {
	font-family: $sans-serif;
	font-weight: 800;
	color: $black;
}

.font-step-0,
p,
ul,
ol {
	@extend %base-font;
	font-size: var(--step-0);
	line-height: 1.5em;
	margin: 0 0 1em;
}

ul {
	list-style: circle;
}

.font-step-1 {
	@extend %base-font;
	font-size: var(--step-1);
	line-height: 1.25em;
	margin: 0 0 2rem;
}

.font-step-2 {
	@extend %base-font;
	font-size: var(--step-2);
	line-height: 0.8em;
	margin: 0;
}

.font-step-3 {
	@extend %base-font;
	font-size: var(--step-3);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-step-4 {
	@extend %header-font;
	font-size: var(--step-4);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-step-5 {
	@extend %header-font;
	font-size: var(--step-5);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-step-6 {
	@extend %header-font;
	font-size: var(--step-6);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

.font-step-8 {
	@extend %header-font;
	font-size: var(--step-8);
	line-height: 1em;
	margin: 0;
	text-transform: lowercase;
}

h1 {
	@extend .font-step-5;
	margin-bottom: 1rem;
}

h2 {
	@extend .font-step-4;
}

// Animations

%animation {
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

//	Defaults

a {
	color: $purple;
	text-decoration: none;
	font-weight: 600;
	&:hover,
	&:focus {
		color: $purple-hover;
		border-bottom: 2px solid $purple-hover;
	}
	&:active,
	&.active {
		color: $purple-hover;
	}
}

input {
	display: inline-block;
	border: 2px solid $black;
	@extend %base-font;
	font-size: var(--step-0);
	color: $black;
	text-align: center;
	background-color: $white;
	border: 2px solid $black;
	padding: 1rem;
	margin: 1rem 0;
	position: relative;
}

button {
	display: inline-block;
	@extend %header-font;
	font-size: var(--step-0);
	font-weight: 700;
	color: $white;
	text-align: center;
	background-color: $black;
	border: 2px solid $black;
	padding: 1rem;
	margin: 1rem 0;
	position: relative;
	@extend %animation;

	&:hover,
	&:focus,
	&:active {
		color: $purple;
		background: $white;
		border-color: $black;
	}
	&:active {
		color: $purple;
	}
}

a.button {
	display: inline-block;
	@extend .font-step-2;
	@extend %header-font;
	font-weight: 700;
	color: $white;
	text-align: center;
	background-color: $black;
	border: 2px solid $white;
	padding: 1.5rem 3rem;
	margin: 2rem 0;
	position: relative;
	@extend %animation;
	&::before,
	&::after {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		border: 2px solid $purple;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		box-sizing: border-box;
		@extend %animation;
	}
	&::before {
		border-color: $green;
		transform: translate(calc(-0.5rem - 2px), calc(-0.5rem - 2px));
	}
	&::after {
		transform: translate(calc(0.5rem + 2px), calc(0.5rem + 2px));
	}
	&:hover,
	&:focus,
	&:active {
		color: $purple !important;
		background: $white;
		border-color: $black;
		&::before,
		&::after {
			transform: translate(0, 0);
		}
	}
	&:active {
		color: $purple !important;
	}
}

.row {
	max-width: 60rem;
	margin: 0 auto;
	padding: 4em 0;
	position: relative;
	z-index: 2;
}

img {
	max-width: 100%;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

// .threeD-type {
// 	position: relative;
// 	&:before,
// 	&:after {
// 		content: attr(title);
// 		position: absolute;
// 		color: $white;
// 		-webkit-text-fill-color: $white; /* Will override color (regardless of order) */
// 		-webkit-text-stroke-width: 0.02em;
// 		z-index: -1;
// 		white-space: nowrap;
// 	}
// 	&:before {
// 		left: -0.075em;
// 		top: -0.075em;
// 		-webkit-text-stroke-color: $green;
// 	}
// 	&:after {
// 		right: -0.075em;
// 		bottom: -0.075em;
// 		-webkit-text-stroke-color: $purple;
// 	}
// }

.threeD-box {
	background: $white;
	margin: 1rem 0;
	padding: 0.75rem;
	border: 2px solid $black;
	position: relative;
	&::before,
	&::after {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&::before {
		left: -0.75rem;
		top: -0.75rem;
		border: 2px solid $green;
	}
	&::after {
		right: -0.75rem;
		bottom: -0.75rem;
		border: 2px solid $purple;
	}
	&#headshot {
		padding: 1.25rem;
		&::before {
			left: -1rem;
			top: -1rem;
		}
		&::after {
			right: -1rem;
			bottom: -1rem;
		}
	}
}

.divider {
	display: block;
	width: 100%;
	max-width: 80rem;
	height: 2px;
	margin: 0 auto;
	background: $black;
	position: relative;
	&::before,
	&::after {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&::before {
		left: -2.5rem;
		top: -0.5rem;
		background: $green;
	}
	&::after {
		right: -2.5rem;
		bottom: -0.5rem;
		background: $purple;
	}
}

.inverse {
	width: 100vw;
	background: $black;
	position: relative;
	z-index: 1;
	%base-font {
		color: $grey-inverse;
	}
	%header-font {
		color: $white;
	}
	a {
		color: $green;
		&:hover,
		&:focus {
			color: $green-hover;
			border-bottom: 2px solid $green-hover;
		}
		&:active,
		&.active {
			color: $green-hover;
		}
	}
	h1,
	h2,
	h3 {
		color: $white;
	}
	.threeD-box {
		border: 2px solid $white;
		background: $black;
	}
}

//  Template

html,
body {
	@extend %base-font;
	font-size: 16px;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	margin: 0;
}

.social-icons {
	@extend .font-step-2;
	text-align: right;
	margin: 0;
	a {
		display: inline-block;
		color: $green;
		margin: 0 1rem;
		&:hover,
		&:focus,
		&:active {
			border-bottom: none;
			color: $white;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}

.jump-links {
	@extend .font-step-0;
	font-family: $sans-serif;
	text-align: center;
	margin: 0;
	text-transform: lowercase;
	a {
		display: inline-block;
		padding: 0 1rem;
		color: $green;
		&:hover,
		&:focus,
		&:active {
			border-bottom: none;
			color: $white;
		}
	}
}

footer#contact {
	background: $black;
	padding: 3rem 0;
	margin: 2rem 0 0;
	position: relative;
	z-index: 1;
	h3 {
		@extend %header-font;
		color: $white;
	}
}

header.row,
footer {
	flex-shrink: 0;
}

#about {
	h2 {
		@extend .font-step-3;
		margin-bottom: 1rem;
	}
}

#phi {
	.threeD-box {
		&::before {
			border-color: $sig-green;
		}
		&::after {
			border-color: $sig-blue;
		}
	}
}

#uploybot {
	.threeD-box {
		margin-bottom: 2rem;
		&::before {
			border-color: $sig-pink;
		}
		&::after {
			border-color: $sig-green;
		}
	}
}

#perspective {
	background-color: $sig-blue;
	.threeD-box {
		background: $sig-blue;
		border-color: $sig-yellow;
		padding: 0;

		&::before {
			border-color: $white;
		}
		&::after {
			border-color: $black;
		}
	}
}

#juice {
	background-color: $sig-green;
	.threeD-box {
		background-color: $sig-green;
		padding: 0;

		&::before {
			border-color: $white;
		}
		&::after {
			border-color: $grey;
		}
	}
}

@media only screen and (min-width: 62em) {
	nav.menu {
		display: block;
		width: auto;
		background: none;
		text-align: right;

		margin: 0;

		position: fixed;
		top: 2rem;
		right: 2rem;
		a {
			color: $grey;
			&:hover,
			&:focus {
				color: $purple;
			}
			&:active,
			&.active {
				color: $purple;
			}
			&.active {
				cursor: default;
			}
		}
	}
	.menu-toggle {
		display: none;
	}

	a.button,
	button {
		padding: 2rem 4rem;
		margin: 0 auto;
	}

	input,
	button {
		padding: 1rem 2rem;
		margin: 0 auto;
	}
}

//  Before after slider

.cd-image-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.cd-image-container img {
	display: block;
}

.cd-image-label {
	position: absolute;
	bottom: 0;
	right: 0;
	@extend .font-step-2;
	color: $sig-blue !important;
	padding: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity: 0;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
	-moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
	transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
	visibility: hidden;
}
.is-visible .cd-image-label {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.cd-resize-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-resize-img img {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 100%;
	width: auto;
	max-width: none;
}
.cd-resize-img .cd-image-label {
	right: auto;
	left: 0;
}
.is-visible .cd-resize-img {
	width: 50%;
	/* bounce in animation of the modified image */
	-webkit-animation: cd-bounce-in 0.7s;
	-moz-animation: cd-bounce-in 0.7s;
	animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: 55%;
	}
	100% {
		width: 50%;
	}
}
@-moz-keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: 55%;
	}
	100% {
		width: 50%;
	}
}
@keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: 55%;
	}
	100% {
		width: 50%;
	}
}
.cd-handle {
	position: absolute;
	height: 32px;
	width: 32px;
	/* center the element */
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	border-radius: 50%;
	background: $sig-blue url("../img/cd-arrows.svg") no-repeat center center;
	cursor: move;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0) scale(0);
	-moz-transform: translate3d(0, 0, 0) scale(0);
	-ms-transform: translate3d(0, 0, 0) scale(0);
	-o-transform: translate3d(0, 0, 0) scale(0);
	transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
	/* change background color when element is active */
	background-color: $black;
}
.is-visible .cd-handle {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
	-moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
	transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
