:root {
  --fluid-min-width: 450;
  --fluid-max-width: 1440;
  --fluid-min-size: 18;
  --fluid-max-size: 18;
  --fluid-min-ratio: 1.125;
  --fluid-max-ratio: 1.25;
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
}

@media screen and (min-width: 1440px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
  --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
  --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
  --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
  --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
  --step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
  --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
  --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
  --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
  --step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
  --fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
  --fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
  --fluid-min-size-6: (var(--fluid-min-size) * var(--fluid-min-scale-5)) / 16;
  --fluid-max-size-6: (var(--fluid-max-size) * var(--fluid-max-scale-5)) / 16;
  --step-6: calc(((var(--fluid-min-size-6) * 1rem) + (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)));
  --fluid-min-scale-7: var(--fluid-min-scale-6) * var(--fluid-min-ratio);
  --fluid-max-scale-7: var(--fluid-max-scale-6) * var(--fluid-max-ratio);
  --fluid-min-size-7: (var(--fluid-min-size) * var(--fluid-min-scale-6)) / 16;
  --fluid-max-size-7: (var(--fluid-max-size) * var(--fluid-max-scale-6)) / 16;
  --step-7: calc(((var(--fluid-min-size-7) * 1rem) + (var(--fluid-max-size-7) - var(--fluid-min-size-7)) * var(--fluid-bp)));
  --fluid-min-scale-8: var(--fluid-min-scale-7) * var(--fluid-min-ratio);
  --fluid-max-scale-8: var(--fluid-max-scale-7) * var(--fluid-max-ratio);
  --fluid-min-size-8: (var(--fluid-min-size) * var(--fluid-min-scale-7)) / 16;
  --fluid-max-size-8: (var(--fluid-max-size) * var(--fluid-max-scale-7)) / 16;
  --step-8: calc(((var(--fluid-min-size-8) * 1rem) + (var(--fluid-max-size-8) - var(--fluid-min-size-8)) * var(--fluid-bp)));
}

.font-step-0, nav.menu, .jump-links,
p,
ul,
ol, .font-step-1, #case-study h3, #case-study h4, .font-step-2, a.button, .social-icons, .font-step-3, header#masthead h3, input, html,
body {
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  color: #4d4d4d;
}

.font-step-0 strong, nav.menu strong, .jump-links strong, p strong, ul strong, ol strong, .font-step-1 strong, #case-study h3 strong, #case-study h4 strong, .font-step-2 strong, a.button strong, .social-icons strong, .font-step-3 strong, header#masthead h3 strong, input strong, html strong, body strong {
  font-weight: 600;
}

.font-step-4, h1, .case-study a h3, .font-step-5, .font-step-6, header#inside h1, .font-step-8, header#masthead h1, button, a.button {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  color: #000;
}

.font-step-0, nav.menu, .jump-links,
p,
ul,
ol {
  font-size: var(--step-0);
  line-height: 1.5em;
  margin: 0 0 1em;
}

ul {
  list-style: circle;
}

.font-step-1, #case-study h3, #case-study h4 {
  font-size: var(--step-1);
  line-height: 1.25em;
  margin: 0 0 2rem;
}

.font-step-2, a.button, .social-icons {
  font-size: var(--step-2);
  line-height: 0.8em;
  margin: 0;
}

.font-step-3, header#masthead h3 {
  font-size: var(--step-3);
  line-height: 1em;
  margin: 0;
  text-transform: lowercase;
}

.font-step-4, h1, .case-study a h3 {
  font-size: var(--step-4);
  line-height: 1em;
  margin: 0;
  text-transform: lowercase;
}

.font-step-5 {
  font-size: var(--step-5);
  line-height: 1em;
  margin: 0;
  text-transform: lowercase;
}

.font-step-6, header#inside h1 {
  font-size: var(--step-6);
  line-height: 1em;
  margin: 0;
  text-transform: lowercase;
}

.font-step-8, header#masthead h1 {
  font-size: var(--step-8);
  line-height: 1em;
  margin: 0;
  text-transform: lowercase;
}

h1 {
  margin-bottom: 1rem;
}

button, a.button, a.button::before, a.button::after, .threeD-img picture.img-grey, .threeD-img picture.img-green,
.threeD-img picture.img-purple {
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

a {
  color: #5D21D0;
  text-decoration: none;
  font-weight: 600;
}

a:hover, a:focus {
  color: #4d4d4d;
  border-bottom: 2px solid #4d4d4d;
}

a:active, a.active {
  color: #5D21D0;
}

input {
  display: inline-block;
  border: 2px solid #000;
  font-size: var(--step-0);
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

button {
  display: inline-block;
  font-size: var(--step-0);
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 2px solid #000;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

button:hover, button:focus, button:active {
  color: #5D21D0;
  background: #fff;
  border-color: #000;
}

button:active {
  color: #5D21D0;
}

a.button {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 2px solid #fff;
  padding: 1.5rem 3rem;
  margin: 2rem 0;
  position: relative;
}

a.button::before, a.button::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #5D21D0;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a.button::before {
  border-color: #01F9C6;
  -webkit-transform: translate(calc(-0.5rem - 2px), calc(-0.5rem - 2px));
          transform: translate(calc(-0.5rem - 2px), calc(-0.5rem - 2px));
}

a.button::after {
  -webkit-transform: translate(calc(0.5rem + 2px), calc(0.5rem + 2px));
          transform: translate(calc(0.5rem + 2px), calc(0.5rem + 2px));
}

a.button:hover, a.button:focus, a.button:active {
  color: #5D21D0;
  background: #fff;
  border-color: #000;
}

a.button:hover::before, a.button:hover::after, a.button:focus::before, a.button:focus::after, a.button:active::before, a.button:active::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

a.button:active {
  color: #5D21D0;
}

nav.menu {
  font-family: "Montserrat Alternates", sans-serif;
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  text-align: center;
  background: #000;
  display: none;
  width: 100%;
}

nav.menu li {
  padding: 1rem 0;
}

nav.menu a {
  color: #fff;
  font-weight: 500;
}

nav.menu a:hover, nav.menu a:focus {
  color: #5D21D0;
  border-bottom: 1px solid #5D21D0;
}

nav.menu a:active, nav.menu a.active {
  color: #5D21D0;
}

nav.menu a.active {
  cursor: default;
}

.menu-toggle {
  background: none;
  color: #4d4d4d;
  font-weight: 500;
  text-align: center;
  padding: 1rem 0;
}

.menu-toggle a i.closed {
  display: none;
}

.menu-toggle a:hover, .menu-toggle a:focus, .menu-toggle a:active {
  border-bottom: none;
}

.row {
  margin: 4em auto;
}

img {
  max-width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.threeD-type {
  position: relative;
}

.threeD-type:before, .threeD-type:after {
  content: attr(title);
  position: absolute;
  color: #fff;
  -webkit-text-fill-color: #fff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.02em;
  z-index: -1;
  white-space: nowrap;
}

.threeD-type:before {
  left: -0.075em;
  top: -0.075em;
  -webkit-text-stroke-color: #01F9C6;
}

.threeD-type:after {
  right: -0.075em;
  bottom: -0.075em;
  -webkit-text-stroke-color: #5D21D0;
}

.threeD-img {
  z-index: 1;
  position: relative;
}

.threeD-img picture.img-grey {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.threeD-img picture.img-green,
.threeD-img picture.img-purple {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  padding: inherit;
}

.threeD-img picture.img-green {
  -webkit-transform: translate(-1rem, -1rem);
          transform: translate(-1rem, -1rem);
}

.threeD-img picture.img-purple {
  -webkit-transform: translate(1rem, 1rem);
          transform: translate(1rem, 1rem);
}

.threeD-img:hover picture.img-grey, .threeD-img:focus picture.img-grey, .threeD-img:active picture.img-grey {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.threeD-img:hover picture.img-green, .threeD-img:focus picture.img-green, .threeD-img:active picture.img-green {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.threeD-img:hover picture.img-purple, .threeD-img:focus picture.img-purple, .threeD-img:active picture.img-purple {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#about aside, #case-study #details,
#case-study #conclusions .text-wrap {
  background: #fff;
  padding: 2rem 2rem 1.5rem;
  border: 2px solid #4d4d4d;
  position: relative;
}

#about aside::before, #case-study #details::before,
#case-study #conclusions .text-wrap::before, #about aside::after, #case-study #details::after,
#case-study #conclusions .text-wrap::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#about aside::before, #case-study #details::before,
#case-study #conclusions .text-wrap::before {
  left: -1rem;
  top: -1rem;
  border: 2px solid #01F9C6;
}

#about aside::after, #case-study #details::after,
#case-study #conclusions .text-wrap::after {
  right: -1rem;
  bottom: -1rem;
  border: 2px solid #5D21D0;
}

@media only screen and (min-width: 62em) {
  #about aside, #case-study #details,
  #case-study #conclusions .text-wrap {
    padding: 4rem 4rem 3rem;
  }
}

html,
body {
  font-size: 16px;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  max-width: 80em;
  margin: 2em auto;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

header#masthead {
  max-width: 100%;
  text-align: center;
  margin-top: 0;
}

header#masthead h1 {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
}

header#masthead h3 {
  margin: 1.5rem 0 0 0;
}

header#inside {
  max-width: 100%;
  margin: 0 auto 2rem;
}

header#inside h1 {
  display: inline-block;
  margin-top: 2rem;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#portfolio {
  max-width: 80em;
  margin: 2em auto 2rem;
}

.case-study {
  margin-bottom: 8rem;
}

.case-study a p.font-step-2, .case-study a p.social-icons {
  margin: 0.5rem 0 1rem;
  font-style: italic;
}

.case-study a p.read-more {
  font-weight: 600;
}

.case-study a[role="section"] {
  position: relative;
  z-index: 5;
}

.case-study a:hover, .case-study a:focus, .case-study a:active {
  border-bottom: none;
}

.case-study a:hover p.read-more, .case-study a:focus p.read-more, .case-study a:active p.read-more {
  color: #5D21D0;
}

.social-icons {
  text-align: center;
  margin: 0;
}

.social-icons a {
  display: inline-block;
  padding: 0 1rem;
  color: #01F9C6;
}

.social-icons a:hover, .social-icons a:focus, .social-icons a:active {
  border-bottom: none;
  color: #fff;
}

.jump-links {
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
  margin: 0;
  text-transform: lowercase;
}

.jump-links a {
  display: inline-block;
  padding: 0 1rem;
  color: #01F9C6;
}

.jump-links a:hover, .jump-links a:focus, .jump-links a:active {
  border-bottom: none;
  color: #fff;
}

footer#contact {
  background: #000;
  padding: 3rem 0;
  margin: 2rem 0 0;
  position: relative;
  z-index: 1;
}

footer#contact .row {
  margin: 0 auto;
  max-width: 80em;
}

#about .row {
  max-width: 80em;
}

#about aside {
  padding: 1rem;
  margin-bottom: 3rem;
}

#case-study {
  margin: 2rem auto 1rem;
}

#case-study .row {
  max-width: 80em;
  margin: 0 auto 2rem;
}

#case-study #details {
  margin-top: 2rem;
}

#case-study h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  color: #000;
  text-transform: lowercase;
  margin-bottom: 1rem;
}

#case-study h4 {
  font-weight: 600;
  margin-bottom: 1rem;
}

#case-study-bottom {
  max-width: 80em;
  margin: 0 auto;
}

#case-study-bottom .row {
  margin: 0 auto 2rem;
}

.row#tldr-2 {
  margin-top: 4rem;
}

header.row, footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (min-width: 62em) {
  nav.menu {
    display: block;
    width: auto;
    background: none;
    text-align: right;
    position: fixed;
    top: 2rem;
    right: 2rem;
  }
  nav.menu a {
    color: #4d4d4d;
  }
  .menu-toggle {
    display: none;
  }
  header#masthead {
    max-width: 100%;
    text-align: center;
    margin: 2rem auto;
  }
  header#masthead h3 {
    margin-left: 3rem;
  }
  header#inside h1 {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  a.button, button {
    padding: 2rem 4rem;
    margin: 0 auto;
  }
  input, button {
    padding: 1rem 2rem;
    margin: 0 auto;
  }
  .row {
    margin: 6em auto;
  }
  #case-study {
    margin: 6rem auto 2rem;
  }
  #case-study .row {
    margin: 0 auto 4rem;
  }
  #case-study #details {
    margin-top: 0;
  }
  footer#contact {
    margin: 2rem 0 0;
    padding: 5rem 0;
  }
  #about aside {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=jenne.css.map */